<div class="container mt-5">

  <h1>google map</h1>
  <div data-controller="google-map">
    <div id="map" style="width:100%;height:calc(100vh - 116px);;" data-google-map-target="myMap"></div>
  </div>

</div>
